<table class="table">
  <thead>
    <th colspan="5"></th>
  </thead>

  <tbody>
    <tr *ngFor="let dataList of groupDataListChunkArr; let i = index;">
      <ng-container *ngFor="let data of dataList;">
        <td>{{ data.groupName }}</td>
      </ng-container>

      <ng-container *ngIf="groupDataListChunkArr.length - 1 === i">
        <ng-container
          *ngFor="let td of autoGenerateTd(groupDataListChunkArr[groupDataListChunkArr.length -1])"
        >
          <td></td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>
